{% from "macros/widgets.html" import navitem %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top w-100">
  <div class="container-fluid">
    <a href="{{ url_for('views.static_html', route='/') }}" class="navbar-brand">
      <img class="img-responsive ctf_logo" src="{{ url_for('views.themes', path="img/dojo/ctfflagwhite.jpg") }}" height="50" width="50" alt="{{ Configs.ctf_name }}">
      {{ Configs.ctf_name }}
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#base-navbars"
            aria-controls="base-navbars" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="base-navbars">
      <ul class="navbar-nav ml-auto">
        {{ navitem("Challenges", url_for("pwncollege_dojos.listing")) }}
        {{ navitem("Workspace", url_for("pwncollege_workspace.view_workspace", service="code"), "fa-terminal") }}
        {{ navitem("Desktop", url_for("pwncollege_workspace.view_workspace", service="desktop"), "fa-desktop") }}
        <!-- {{ navitem("Help", url_for("pwncollege_sensai.view_sensai"), "fa-question") }} -->
        <!-- {{ navitem("Chat", "https://discord.gg/pwncollege", "fa-comments", new=True) }} -->

        {% if authed() %}
        {% if is_admin() %}
          {{ navitem("Admin Panel", url_for("admin.view"), "fa-wrench", shrink=True) }}
        {% endif %}
        {{ navitem("Profile", url_for("pwncollege_users.view_self"), "fa-user-circle", shrink=True) }}
        {{ navitem("Settings", url_for("views.settings"), "fa-cogs", shrink=True) }}
        {{ navitem("Logout", url_for("auth.logout"), "fa-sign-out-alt", shrink=True) }}
        {% else %}
        {% if registration_visible() %}
        {{ navitem("Register", url_for("auth.register"), "fa-user-plus") }}
        {% endif %}
        {{ navitem("Login", url_for("auth.login", next=request.full_path), "fa-sign-in-alt") }}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
