{% extends "base.html" %}
{% from "macros/widgets.html" import card %}
{% from "macros/widgets.html" import dojo_grid %}

{% block content %}
<div class="container">
  <p><br><br>
  <h2>General Challenges</h2>

  {{ dojo_grid(categorized_dojos["general-challenges"], dojo_container_counts) }}

  <p><br><br>
  <h2>Projects</h2>

  {{ dojo_grid(categorized_dojos["projects"], dojo_container_counts) }}

  <p><br><br>
    <h2>Your Dojos</h2>
  
    {{ dojo_grid(categorized_dojos["admin"], dojo_container_counts, create_icon=True) }}
  
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
